/*
/var/*
!/app
/app/*

# code community files
!/app/code
/app/code/*
!/app/code/community
/app/code/community/*
!/app/code/community/Pakettikauppa

# design / template files
!/app/design
/app/design/*
!/app/design/frontend
/app/design/frontend/*
!/app/design/frontend/base
/app/design/frontend/base/*
!/app/design/frontend/base/default
/app/design/frontend/base/default/*
!/app/design/frontend/base/default/layout
/app/design/frontend/base/default/layout/*
!/app/design/frontend/base/default/layout/pakettikauppa
!/app/design/frontend/base/default/template
/app/design/frontend/base/default/template/*
!/app/design/frontend/base/default/template/pakettikauppa

!/app/design/adminhtml
/app/design/adminhtml/*
!/app/design/adminhtml/default
/app/design/adminhtml/default/*
!/app/design/adminhtml/default/default
/app/design/adminhtml/default/default/*
!/app/design/adminhtml/default/default/layout
/app/design/adminhtml/default/default/layout/*
!/app/design/adminhtml/default/default/layout/pakettikauppa


!/app/design/adminhtml/default/default/template
/app/design/adminhtml/default/default/template/*
!/app/design/adminhtml/default/default/template/pakettikauppa

# module xml
!/app/etc
/app/etc/*
!/app/etc/modules
/app/etc/modules/*
!/app/etc/modules/Pakettikauppa_Logistics.xml

# lib files
# lib
!/lib/
/lib/*
!/lib/pakettikauppa


!.gitignore